@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto-Black.ttf");
   font-weight: 100;
 }

 @font-face {
  font-family: Joan;
   src: url("assets/fonts/Joan-Regular.ttf");
   font-weight: 300;
 }

 @font-face {
  font-family: NuosuSIL;
   src: url("assets/fonts/NuosuSIL-Regular.ttf");
   font-weight: 300;
 }

 * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border: 3px solid rgba(140, 148, 148, 0.537);
}
.main {
  border: 3px solid rgba(140, 148, 148, 0.537);
    display: flex;
    flex-wrap: wrap;
  }
.foot {
  border: 1px solid rgba(140, 148, 148, 0.537);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.986);
  text-decoration: none;
  transition: 3s;
}

.nav-item a {
  transition: color 1s;
}
.nav-item a:hover {
  color: #0000FF;
  text-decoration: underline;
}
.nav {
  background-color: rgba(140, 148, 148, 0.537);
  width: 70%;
}

.link-aducation {
  color: #000000;
  font-weight: bold;
  transition: 3s;
  text-decoration: none;
}

.item-aducation a {
  transition: color 1s;
}

.item-aducation a:hover {
  color: #0000FF;
  text-decoration: underline;
}

  #about {
    width: 50%;
  }


@media (max-width: 900px;) {
  .section {
    width: 100%;
  }
}
.section-title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
}
.footer {
  background-color: rgba(140, 148, 148, 0.537);
  height: 100px;
}

.image {
  border-radius: 100px;
  border: 3px colid rgba(140, 148, 148, 0.537);
  position: absolute;
  left: 500px;
  top:130px;
  width: 180px; 
  height: 200px;
}
.container {
background: url(assets/favicon.ico) no-repeat;
background-position: center right;
background-size: 50%;
}

.link-git {
  color: #000000;
  font-weight: bold;
  transition: 3s;
  text-decoration: none;
}

.name-git a {
  transition: color 1s;
}

.name-git a:hover {
  color: #0000FF;
  text-decoration: underline;
}

.name-git {
  font-size: 30px;
} 
